<div id="<%= dom_id group %>">
<p><%= image_tag group.icon, class: 'category_icon' %></p>
 <div id="info"> 
  <%= link_to group_path(group.id) do %>
          <h3 class='category_name'><%= group.name %></h3>
        <% end %>
  <p><%= group.created_at%></p>
</div>
<p>$200</p>
</div>
