<div class="info_card" id="<%= dom_id group %>">
<p><%= image_tag group.icon, class: 'category_icon' %></p>
 <div id="info"> 
 <p>
    <%= link_to(group.name, group_deals_path(group.id), class: 'category_name') %>
  </p>
   <p><%= group.created_at.strftime("%d %b %Y")%></p>
</div>
<p>$<%= @deals.sum {|deal| deal.amount} %></p>
</div>
