<%= render partial: 'shared/header_bar', locals: {title:'TRANSACTION', symbol:'â†', url: :back}%>

<%# <p style="color: green"><%= notice %>
<%# </p> %>

<%# <div>
<%# <h2 class=""><%=  @groups.name %>
<%# </h2> %>
<%# <p class="amount"> $<%= @groups.@deals.sum(:amount) %> 
<%# </p>  %>
<%# </div> %>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<%# <%= link_to "New group", new_group_path %>
<div class="card-button"><button><%= link_to "New Transaction", new_group_path %></button></div>
